@media (max-width: 805px) {
  header p:nth-child(3) {
    width: 33rem;
  }
}

@media (max-width: 335px) {
  header p:nth-child(3) {
    width: 95%;
  }
}

@media (max-width: 456px) {
  header {
    p:nth-child(1),
    p:nth-child(2) {
      font-size: 3rem;
    }
  }
}

@media (max-width: 384px) {
  header {
    p:nth-child(1),
    p:nth-child(2) {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 323px) {
  header {
    p:nth-child(1),
    p:nth-child(2) {
      font-size: 1.8rem;
    }

    p:nth-child(3) {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 239px) {
  header {
    p:nth-child(1),
    p:nth-child(2) {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 141px) {
  main div figure {
    img {
      width: 100%;
    }
  }
}

@media (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    div {
      align-self: center;
      width: 93%;
      justify-self: center;
    }

    .cyan {
      grid-row: 1/3;
    }

    .blue {
      grid-row: 1/3;
      grid-column: 3/4;
    }
  }
}
